# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main","Development" ]
  pull_request:
    branches: [ "main","Development" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.x
    # Working directory for workflow execution: root-directory of repository
    - name: Restore dependencies
      run: dotnet restore BackgroundWorker/BackgroundWorker.csproj
    
    - name: Build
      run: dotnet build BackgroundWorker/BackgroundWorker.csproj --no-restore

    - name: Test
      run: dotnet test BackgroundWorker_Test/BackgroundWorker_Test.csproj --no-build --verbosity normal

